@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

header {
    background-color: #202846;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.блок_логотип {
    width: 10%;

}

.логотип {
    width: 100%;
}

.меню {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5em;
    transition: all .5s;
}

.меню:hover {
    color: #AEAEE2;
}

.блок_отступ {
    width: 5%;
}

.навигация {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.блок_перевода {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.блок_мира {
    width: 70%;
    display: flex;
}

.мир {
    width: 100%;
}

.перевод {
    width: 20%;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.75em;
}

main {
    background-color: #DCDCDC;
}

.заголовок_секции {
    color: #202846;
    font-size: 3em;
    font-style: italic;
    background-color: #C6C6DC;
    padding: 2% 5%;
}

.section1 {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.аккардеон {
    margin: 5% auto;
    padding: 2% 5%;
    background-color: #E8E8E8;
    display: flex;
    justify-content: space-between;
}

.заголовок_аккардеона {
    color: #00000061;
    font-size: 1.75em;
    text-align: center;
    flex-basis: 95%;
}

.блок_стрелки {
    flex-basis: 2%;
}

.картинка_стрелка {
    width: 100%;
}

.карточка {
    display: flex;
    background-color: #BDBDC6;
    transition: all .5s;
    position: relative;
    margin-top: 5%;
    height: 400px;

}

.карточка:hover {
    background-color: #AEAEE2;
    box-shadow: 5px 5px 30px #AEAEE2;    
}

.блок_картинки_карточки {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding-left: 5%;
}

.картинка_карточки {
    width: 100%;
}

.блок_инфо_карточки {
    width: 50%;
    margin: 3%;

}

.заголовок_карточки {
    color: #353C57;
    font-weight: 700;
    font-size: 2.25em;
    font-style: italic;
}

.линия {
    border-bottom: 3px #FFFFFF solid;
    margin: 20px auto;
}

.текст_карточки {
    color: #202846;
    font-size: 1.375em;
    background-color: #D7D7DD;
    text-align: center;
    padding: 8% 3%;
}

.звёздочка {
    position: absolute;
    width: 48px;
    height: 46px;
    transition: .5s all;
    top: 5%;
    right: 5%;    
}

path:hover{
    fill: #FFFF00;
}

.кнопка {
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 1%;
}

.ссылка {
    padding: 10% 20%;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5em;
    background-color: #202846;
    border-radius: 40px;
    transition: all .5s;
}

.ссылка:hover {
    background-color: #EF075B;
}

.кнопка_стрелки {
    width: 10%;
    text-align: center;
    position: fixed;
    left: 90%;
    bottom: 20%;
}

.ссылка_стрелки {
    padding: 20% 30%;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
    background-color: #5557689E;
}

.стрелка {
    width: 100%;
}

.section2 {
    margin-top: 5%;
    padding-bottom: 2%;
}


.блок_визитки {
    background-color: #BDBDC6;
    width: 80%;
    margin: 5% auto;
    display: flex;
    padding: 5% 0;
}

.блок_фото_кнопок_визитки {
    width: 50%;
    padding-top: 5%;

}

.фото_визитки {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 10%;
}

.фото {
    width: 100%;
}

.кнопки_визитки {
    text-align: center;
    margin-bottom: 5%
}

.ссылка_смена_аватарки {
    padding: 3% 5%;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5em;
    background-color: #69749B;
    border-radius: 20px;
}

.ссылка_настройки {
    padding: 3% 5%;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5em;
    background-color: #484A54;
    border-radius: 20px;
}

.заполнение_визитки {
    width: 95%;
    padding-right: 5%;
}

.данные {
    color: #353C57;
    font-weight: 700;
    font-size: 2.25em;
    font-style: italic;
    padding-bottom: 1%;
}

.заполнение_данных {
    font-weight: 400;
}

.кнопка_выйти {
    margin: 5% auto;
    text-align: center;
}

.ссылка_выйти {
    padding: 10px 70px;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.6875em;
    background-color: #202846;
    border-radius: 20px;
}

footer {
    background-color: #DCDCDC;
}

.блок_контактов {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
}

.контакты {
    color: #000000;
    font-size: 2em;
    border-bottom: 3px solid #202846;
}

.заполнение_контактов {
    color: #000000;
    font-size: 1.875em;
    padding-top: 3%;
}

.блок_карты {
    width: 50%;    
}

.карта {
    width: 100%;
    border-radius: 22px;
}

.© {
    color: #FFFFFF;
    font-size: 2.25em;
    font-style: italic;
    background-color: #202846;
    padding: 3% 10%;
}