.konteiner{
    width: 800px;
    max-height: 800px;
    box-sizing: border-box;
    margin: 0 auto;
}
.header {
    width: 800px;
    height: 200px;
    border: 5px #FF0000 solid;
    box-sizing: border-box;
}

.nav_sec{    
    display: flex;
    border: 5px #FFA500 solid;
    box-sizing: border-box;
}
.nav{    
    height: 400px;
    width: 100px;   
    border-right: 5px #FFA500 solid;
    box-sizing: border-box;
}
.section{    
    height: 400px;
    width: 700px;      
}
.footer{       
    width: 800px;
    height: 200px;
    border: 5px #808080 solid;
    box-sizing: border-box;
}
