/*Ноутбуки*/
@media screen and (min-width: 1024px) and (max-width: 1366px) {

    .main-one {
        padding: 40px 20px 0 20px;
        overflow: hidden;
    }

    .main-tre {
        padding: 40px 20px 0 20px;
    }

    .content-konteiner {
        max-width: 992px;
    }

    .header nav {
        min-width: 35%;
    }

    .left-cupcake {
        left: 5vw;
        top: -15vh;
    }

    @keyframes two-cake {
        from {
            left: -15vw;
        }

        50% {
            left: -5vw;
        }

        to {
            left: 5vw;
        }
    }

    .section-tre p {
        width: 70%;
        padding-top: 100px;
    }

    .section-one,
    .section-two {
        margin-bottom: 0;
    }

    .zag-one,
    .zag-section-for {
        font-size: 6em;
    }

    .zag-two {
        font-size: 5.5em;
    }

    .img-section-for img {
        width: 85%;
    }

    .section-page-tre-tre {
        width: 65%;
    }

    .korovka::before {
        top: -50px;
        left: -8px;
    }

    .block-email {
        width: 55%;
    }

    .zag-page-korz {
        width: 45%;
    }
}

/*Планшеты*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .info {
        height: 10vh;
    }

    .main-one {
        padding: 20px 16px 0 16px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-tre {
        padding: 20px 16px 0 16px;
    }

    .main-korz {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 16px 0 16px;
    }

    .content-konteiner {
        max-width: 768px;
    }

    .spisok-korzinki {
        min-width: 300px;
    }

    .header nav {
        width: 40%;
        min-width: 330px;
    }

    .zag-one,
    .zag-section-for {
        font-size: 5em;
    }

    .right-cupcake {
        left: -10vw;
    }

    .left-cupcake {
        left: 18vw;
        top: -48vh;
    }

    .bottom-cupcake {
        left: 0;
        top: -41vh;
        width: 130%;
    }

    @keyframes one-cake {
        from {
            top: -30vw;
        }

        50% {
            top: -20vh;
        }

        to {
            left: -10vw;
        }
    }

    @keyframes two-cake {
        from {
            left: -18vw;
        }

        50% {
            left: 0;
        }

        to {
            left: 18vw;
        }
    }

    @keyframes tre-cake {
        from {
            top: 0;
        }

        50% {
            top: -20vh;
        }

        to {
            top: -41vh;
        }
    }

    .section-one {
        height: 100vh;
    }

    .section-one,
    .section-two {
        margin-bottom: 0;
    }

    .section-one .aa,
    .section-two .aa,
    .section-for .aa {
        flex-basis: 60%;
    }

    .section-one .bb,
    .section-two .bb,
    .section-for .bb {
        flex-basis: 40%;
    }

    .zag-two {
        font-size: 4em;
    }

    .section-two img {
        width: 90%;
    }

    .section-tre p {
        width: 65%;
        padding-top: 100px;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .section-two .bb {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card {
        margin-top: 50px;
    }

    .img-cake {
        height: 50%;
    }

    .text-cake {
        min-height: 20px;
        margin: 5% 0 5% 0;
    }

    .name-cake {
        margin: 10% 0 5% 0;
    }

    .img-section-for img {
        width: 80%;
    }

    .block-footer-info-two {
        padding: 0;
    }

    .footer {
        display: grid;
        grid-template-columns: 33% 33% 34%;
        grid-template-rows: 1fr 1fr 1fr;
        padding-bottom: 50px;
        grid-row-gap: 50px;
    }

    .zag-footer {
        width: 30%;
    }

    .block-email {
        order: 1;
        width: 70%;
    }

    .email {
        width: 65%;
    }

    .footer nav {
        order: 2;
    }

    .footer nav li {
        margin-left: 0;
    }

    .block-footer-info {
        grid-column: 1/4;
        grid-row: 1/3;
        flex-wrap: wrap;
        height: 120%;
    }

    .block-footer-info-two {
        grid-column: 1/4;
        grid-row: 2/4;
        flex-wrap: wrap;
    }

    .block-footer-info-two p {
        width: 100%;
        margin: 0;
    }

    .data {
        order: 4;
        padding-top: 100px;
    }

    .cc {
        padding-left: 30%;
    }

    .section-page-tre-one,
    .section-page-tre-tre {
        width: 74%;
    }

    .korovka::before {
        top: -41px;
        left: -9px;
    }

    .sborniy {
        width: 90%;
    }

    .keksik-leviy {
        top: -50px;
    }

    .keksik-praviy {
        top: 80px;
    }

    .opis-keks,
    .opis-rogkeks,
    .opis-listik {
        width: 30%;

    }

    .opis-keks {
        bottom: 0px;
        right: -63px;
    }

    .opis-rogkeks {
        bottom: 114px;
        left: -36px;
    }

    .opis-listik {
        bottom: -230px;
        right: 426px;
    }

    .trekeksa {
        width: 70%;
    }

    .trekeksa img {
        width: 90%;
    }

    .gybka img {
        width: 100%;
    }
}

/*Мобильные*/
@media screen and (max-width: 767px) {

    .burger {
        display: block;
    }

    .menu {
        display: none;
        background-color: #fcefd26b;
        border: #642C99 solid 0.5px;
    }

    .header li {
        padding: 10px 0 10px 20px;
    }

    .header ul {
        margin: 0;
    }

    .header nav {
        width: 50%;
    }

    .card-itog {
        font-size: 1.2em;
    }

    .footer-spiska {
        font-size: 1em;
    }

    .card-spisok-img img {
        width: 30px;
        height: auto;

    }

    .card-spisok-name {
        width: 60%;
        font-size: 0.9em;
    }

    .itog-spiska {
        font-size: 1.5em;
    }

    .zag-footer-spiska {
        font-size: 1em;
    }

    .card-spisok-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
    }

    .menu-a::before {
        content: "\1F9C1";
    }

    .menu-b::before {
        content: "🥞";
    }

    .menu-c::before {
        content: "🛒";
    }

    .main-one {
        /* padding: 20px 8px 0 8px;*/
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-tre {
        /* padding: 20px 8px 0 8px;*/
        overflow: hidden;
    }

    .main-korz {
        /* padding: 20px 8px 0 8px;*/
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .content-konteiner {
        /* max-width: 320px; */
    }

    .info {
        height: 10vh;
    }

    .section-one,
    .section-for {
        display: block;
    }

    .section-one {
        margin-bottom: 0;
    }

    .zag-one,
    .zag-section-for {
        font-size: 5.5em;
    }

    .text-one,
    .text-section-for {
        font-size: 1.625em;
    }

    .section-one .aa,
    .section-two .aa {
        margin-bottom: 100px;
    }

    .section-two {
        flex-direction: column;
    }

    .section-two .bb {
        order: 2;
        text-align: center;
    }

    .section-tre .zag-two {
        padding-top: 0;
        width: 100%;
    }

    .cards {
        display: block;
        margin-bottom: 200px;
    }

    .img-cake img {
        width: 50%;
    }

    .name-cake {
        font-size: 3em;
        margin: 5% 0 5% 0;
    }

    .text-cake {
        font-size: 1.5em;
        width: 80%;
        margin: 5% auto;
    }

    .vibor {
        width: 80%;
        margin: 0 auto;
    }

    .img-section-for {
        justify-content: center;
    }

    .img-section-for img {
        width: 65%;
    }

    .footer nav {
        order: 1;
    }

    .block-footer-info,
    .block-footer-info-two {
        flex-direction: column;
    }

    .block-email {
        width: 100%;
        margin: 50px 0;
    }

    .email {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .send {
        width: 100%;
        margin-left: 0;
    }

    .menu-footer li {
        margin-left: 0;
    }

    .block-footer-info-two {
        padding: 0;
    }

    .data {
        order: 4;
    }

    .footer {
        margin-bottom: 50px;
    }

    .section-for .aa {
        margin-bottom: 50px;
    }

    .section-page-tre-one,
    .section-page-tre-tre {
        width: 90%;
    }

    .section-page-tre-tre {
        text-align: start;
    }

    .section-page-tre-two {
        margin-top: 200px;
    }

    .keksik-praviy {
        top: 25px;
    }

    .opis-keks,
    .opis-rogkeks,
    .opis-listik {
        width: 90%;
        position: initial;
        text-align: center;
    }

    .sborniy {
        width: 100%;
        margin-bottom: 100px;
    }

    .sborniy div {
        width: 55%;
        margin: 0 auto;
    }

    .sborniy div img {
        width: 100%;
    }

    .korovka::before {
        top: 35px;
        left: 150px;
        transform: rotateZ(23deg);
    }

    .section-one-page-korz {
        display: block;
    }

    .zag-page-korz {
        width: 100%;
    }

    .trekeksa {
        width: 100%;
        transform: translateY(0) rotateZ(90deg);
    }

    .trekeksa img {
        width: 90%;
    }

    .section-two-page-korz {
        padding-bottom: 100px;
    }

    .card-korzinki {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 10vh);
    }

    .img-card-korzinki {
        margin: 0 auto;
    }

    .name-card-korzinki {
        border-bottom: 2px solid #642C99;
        width: 100%;
        margin-left: 0;
        grid-column: 2/5;
        padding-bottom: 2vh;
    }

    .itog-card-korzinki {
        text-align: end;
        grid-row-start: 2;
        grid-column: 4/5;
        
    }

    .sumka-card-korzinki {
        grid-row-start: 2;
        grid-column: 2/3;
        width: 70%;
        height: 50%;
    }

    .marg button {
        width: 100%;
    }

    .itogo-page-korz {
        justify-content: space-between;
    }

    .gybka {
        width: 75%;
    }

    .gybka img {
        width: 100%;
    }

}