@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Wendy+One&display=swap');

/*Общие настройки*/
body {
    margin: 0;
    color: #642C99;
    font-family: 'Wendy One', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*header*/
.header {
    display: flex;
    justify-content: space-between;
}

.header nav {
    width: 30%;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.menu a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 1.125em;
}

.img-icon {
    object-fit: contain;
}

.itog-kolvo {
    position: relative;
    top: -55px;
    right: -25px;
    background-color: #FCEFD2;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger {
    display: none;
    font-weight: 600;
    font-size: xxx-large;
}

/*список миникорзинки*/
.spisok-korzinki {
    position: absolute;
    z-index: 1;
    top: 105px;
    right: 40px;
    width: 30vw;
    max-width: 300px;
    background-color: #FCEFD2;
    padding: 20px 15px 5px 15px;
    display: none;
}

.x {
    text-align: end;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
}

.zag-spiska {
    border-bottom: 2px solid #642C99;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 2em;
}

.card-spisok {
    display: flex;
    height: 10vh;
    margin-bottom: 15px;
    justify-content: space-between;
}

.card-spisok-info {
    display: flex;
    width: 80%;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 700;
}

.card-spisok-img {
    margin-right: 15px;
}

.card-spisok-img img {
    width: 60px;
    height: 100%;
}

.card-spisok-name {
    width: 50%;
    display: flex;
    align-items: center;
}

.card-spisok-kol {
    display: flex;
    align-items: center;
}

.card-itog {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

.footer-spiska {
    border-top: 2px solid #642C99;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.zag-footer-spiska {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.itog-spiska {
    font-family: 'Lato', sans-serif;
    font-size: 1.625em;
    font-weight: 700;
}

.proverka,
.v-korzinky {
    text-align: center;
}

.proverka a {
    display: block;
    padding: 2vh 0;
    background-color: #642C99;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    color: #FBFAC9;
    text-decoration: none;
}

.v-korzinky a {
    display: block;
    padding: 2vh 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

/*главная страница*/
.info {
    background-color: #642C99;
    color: #FBFACA;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 16vh;
    z-index: 1;
}

.info- {
    width: 95%;
    text-align: center;
}

.zakr-info {
    width: 2%;
    background-color: #fcefd23c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    Width: 25px;
    Height: 25px;
}

.main-one {
    background-image: url("/img/bg-one.png");
    background-repeat: round;
    background-size: 100%;
    padding: 30px 50px 0 50px;
}

.content-konteiner {
    margin: 0 auto;
    max-width: 1200px;
}

.section-one,
.section-two,
.section-for {
    display: flex;
    margin-bottom: 100px;
}

.section-for {
    margin-top: 100px;
    margin-bottom: 200px;
}

.section-one div,
.section-two div,
.section-for div {
    flex-basis: 50%;
}

.section-tre p {
    width: 55%;
    padding-top: 200px;
}

.zag-one,
.zag-section-for {
    font-size: 7.5em;
    margin: 50px 0;
}

.zag-two {
    font-size: 5.625em;
    margin: 50px 0;
}

.text-one,
.text-section-for {
    font-family: 'Lato', sans-serif;
    font-size: 1.125em;
    margin-bottom: 50px;
    line-height: 26px;
}

.shop-now,
.add,
.button-section-for {
    border-radius: 10px;
    background-color: #642C99;
}

.shop-now a,
.add,
.button-section-for a {
    font-family: 'Lato', sans-serif;
    color: #FBFAC9;
    display: block;
    padding: 12px 60px;
    text-decoration: none;
}

.right-cupcake,
.left-cupcake,
.bottom-cupcake {
    position: relative;
}

.right-cupcake {
    top: 0;
    animation: one-cake 2s linear;
}

.left-cupcake {
    left: 8vw;
    top: -20vh;
    animation: two-cake 2s linear;
}

.bottom-cupcake {
    left: 8vw;
    top: -12vh;
    animation: tre-cake 2s linear;
}

@keyframes one-cake {
    from {
        top: -30vh;
    }

    50% {
        top: -15vh;
    }

    to {
        top: 0;
    }
}

@keyframes two-cake {
    from {
        left: -12vw;
    }

    50% {
        left: -2vw;
    }

    to {
        left: 8vw;
    }
}

@keyframes tre-cake {
    from {
        top: 12vh;
    }

    50% {
        top: 0;
    }

    to {
        top: -12vh;
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.card {
    text-align: center;
    margin-top: 100px;
}

.name-cake {
    font-size: 2em;
    margin: 10% 0 10% 0;
}

.text-cake {
    font-family: 'Lato', sans-serif;
    margin: 10% 0 10% 0;
    min-height: 55px;
}

.vibor {
    display: flex;
    justify-content: space-between;
}

.sumka {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    border: #642C99 solid 2px;
    border-radius: 10px;
}

.add {
    width: 60%;
    padding: 12px 30px;
}

.img-section-for {
    display: flex;
    justify-content: end;
    align-items: center;
}

/*footer*/
.footer {
    color: #FDEFD1;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.125em;
}

.block-footer-info {
    display: flex;
    justify-content: space-between;
}

.zag-footer {
    width: 10%;
}

.zag-footer a {
    font-family: 'Wendy One', sans-serif;
    font-weight: 400;
    font-size: 2em;
    text-decoration: none;
    color: #FDEFD1;
}

.menu-footer {
    list-style: none;
    padding: 0;
}

.menu-footer li {
    margin: 20px;
}

.menu-footer li a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.125em;
    color: #FDEFD1;
}

.block-email {
    width: 50%;
}

.email {
    background-color: #642C99;
    border: 2px solid #FDEFD1;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1em;
    padding: 10px 0 10px 20px;
    width: 70%;
}

.email::placeholder {
    color: #FDEFD1;
}

.error {
    border: red solid 3px;
}

.send {
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #FDEFD1;
    color: #642C99;
    margin-left: 25px;
}

.block-footer-info-two {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

/*вторая страница*/
.main-tre {
    background-image: url("/img/bg-two.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 50px 0 50px;
}

.section-page-tre-one,
.section-page-tre-tre {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.section-page-tre-two {
    position: relative;
    margin-bottom: 400px;
}

.section-page-tre-tre {
    margin-bottom: 400px;
}

.keksiki {
    display: flex;
    justify-content: space-between;
}

.keksik-leviy {
    position: relative;
    top: -100px;
}

.keksik-praviy {
    position: relative;
    top: 110px;
}

.sborniy div {
    text-align: center;
    padding-bottom: 20px;
}

.sborniy {
    background-color: #FCEFD2;
    border-radius: 50%;
    width: 90%;
    margin: 0 auto;
}

.opis-keks,
.opis-rogkeks,
.opis-listik {
    width: 30%;
    font-weight: 700;
    position: absolute;
}

.opis-keks {
    bottom: -30px;
    right: -40px;
}

.opis-rogkeks {
    bottom: 95px;
    left: -15px;
}

.opis-listik {
    bottom: -285px;
    right: 550px;
}

.korovka,
.mini-keksik {
    position: relative;
}

.korovka::before {
    content: url("/img/korovka.png");
    position: absolute;
    top: -60px;
    left: -5px;
}

.mini-keksik::before {
    content: url("/img/visnya.png");
    position: absolute;
    top: 45px;
    left: -23px;
}

/*третья страница*/
.main-korz {
    background-image: url("/img/bg-tre.png");
    background-repeat: round;
    background-size: 100%;
    padding: 30px 50px 0 50px;
}

.section-one-page-korz {
    display: flex;
}

.zag-page-korz {
    width: 50%;
}

.gybka {
    width: 50%;
    margin: 0 auto;
    display: none;
    filter: drop-shadow(0 0 50px #525D71);
}

.trekeksa {
    width: 40%;
    transform: translateY(-110px);
}

.section-two-page-korz {
    min-height: 40vh;
    margin: 0 auto;
    border-bottom: #642C99 2px solid;
}

.itogo-page-korz {
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
}

.itog-spiska-page-korz {
    margin-left: 50px;
    font-family: 'Wendy One', sans-serif;
    font-weight: 400;
    font-size: 2.25em;

}

.marg {
    margin-bottom: 300px;
    text-align: end;
}

.marg .shop-now {
    text-transform: uppercase;
}

.card-korzinki {
    display: flex;
    align-items: center;
    height: 20vh;
    margin-bottom: 50px;
}

.img-card-korzinki {
    height: 100%;
    min-width: 20%;
}

.img-card-korzinki img {
    height: 100%;
}

.name-card-korzinki {
    width: 45%;
    margin-left: 50px;
    font-size: 2em;
}

.itog-card-korzinki {
    min-width: 15%;
    margin-left: 50px;
    font-size: 2.25em;
}

.sumka-card-korzinki {
    display: flex;
    width: 10%;
    height: 30%;
    justify-content: space-evenly;
    align-items: center;
    border: #642C99 solid 2px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    font-weight: 900;
}

.kol-card-korzinki {
    font-weight: 400;
}

/*page 404*/
.page-error {
    background-color: #FAE0CF;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20vh;
}

.for {
    font-size: 10em;
    margin: 0;
}

.for-text {
    font-size: 1.5em;
    margin: 0;
}

.for-ruka-block,
.block-for,
.page-error {
    position: relative;
}

.block-for img {
    position: absolute;
    top: 27px;
    left: 55px;
}

.for-text-a a {
    text-decoration: none;
    font-size: 1.5em;
}

.for-ruka {
    position: absolute;
    top: -32px;
    right: -13px;
    transform: scale(2) rotateZ(313deg);   
}

.page-error img {
    position: absolute;
    width: 13%;
}

.img-for-left {
    top: 50px;
    right: 50px;
    animation-delay: 0.8s;
}

.img-for-dark {
    bottom: 30px;
    right: 50px;
    animation-delay: 1.6s;
}

.img-for-smarsh {
    bottom: 15px;
    right: 30vw;
    animation-delay: 1.4s;
}

.img-for-nuts {
    bottom: 15px;
    left: 30vw;
    animation-delay: 1.2s;
}

.img-for-velvet {
    bottom: 30px;
    left: 50px;    
    animation-delay: 1s;
}

.img-for-one {
    top: 50px;
    left: 50px;
    animation-delay: 0.4s;
}

/*для всех страниц*/
.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.displayFlex {
    display: flex;
}

.displayGrid {
    display: grid;
}