@import url('https://fonts.googleapis.com/css2?family=Alice&family=Pacifico&display=swap');

/*настройка страницы*/
body {
    margin: 0;
    color: black;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 16px;
}

main {
    margin: 0 auto;
    background-color: hsl(142, 30%, 66%);
    height: 100vh;
}

/*настройка inputs*/
.form {
    width: 80%;
    margin: 0 auto;
    padding-top: 20vh;
}

label {
    font-family: 'Alice', serif;
    display: inline-block;
    width: 200px;
    height: 30px;
}

input {
    line-height: 1.7;
    box-sizing: border-box;
    position: relative;
}

.yes {
    border: 5px green solid;
}

.no {
    border: 5px red solid;
}

.znachok {
    display: inline-block;
}

.span {
    background-color: #8EC2A1;
    color: green;
    margin: 200px;    
}

.displeyNone {
    display: none;
}

#podskazka {
    color: red;
}

.operator-kievstar {
    position: relative;
    height: 28px;
    width: 30px;
    right: 65px;
    bottom: -7px;
    background-image: url(../img/1552423102.jpg);
    background-size: 250px 200px;
    background-position: -649px 334px;
}

.operator-mts {
    position: relative;
    height: 28px;
    width: 30px;
    right: 65px;
    bottom: -7px;
    background-image: url(../img/1552423102.jpg);
    background-size: 250px 200px;
    background-position: -649px 296px;
}

.operator-life {
    position: relative;
    height: 28px;
    width: 42px;
    right: 80px;
    bottom: -7px;
    background-image: url(../img/1552423102.jpg);
    background-size: 248px 200px;
    background-position: -637px 262px;
}