@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Общие настройки*/
body {
    margin: 0 auto;
    color: black;
    font-family: 'PT Serif', serif;
    /*700,italic*/
    font-weight: 400;
    font-size: 16px;
    background-image: url("/img/fon.jpg");
}

main {
    margin: 0 auto;
    max-width: 1200px;
    background-image: url("/img/fon.jpg");
}

/*Авторизация*/
.parent {
    background-image: url("/img/fon.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalka {
    background-color: yellow;
    height: 40vh;
    width: 30vw;
    border-radius: 20px;
    box-shadow: 0 0 30px 10px rgb(1, 1, 141);
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.forma {
    width: 80%;
}

.forma input {
    width: 100%;
}

.login {
    margin-bottom: 5%;
    border-radius: 10px;
}

.password {
    border-radius: 10px;
    color: blue;
}

::placeholder {
    color: rgba(0, 0, 255, 0.471);
    font-weight: 600;
    font-size: 0.9em;
}

.focus {
    background-color: rgb(252 244 174);
}

.vhod {
    color: yellow;
    background-color: blue;
    font-weight: 700;
    font-size: 0.9em;
    border-radius: 10px;
    padding: 1% 12%;
}

/*header*/
.header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-weight: 700;
    font-size: 1.1em;
}

.header a {
    color: white;
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: none;
}

.header div {
    text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;    
}

.header div:hover {
    background-color: yellow;    
    scale: 1.3;    
    box-shadow: 0px 0px 10px 10px yellow;
}

/*konteiner*/
.konteiner {
    display: flex;
    color: white;
    font-weight: 700;
    font-size: 1.4em;
    min-height: 90vh;
}

.menu {
    width: 25%;
}

.menu div {
    margin-left: 10%;
    padding-top: 20%;
    text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;
}

.plus {
    width: 75%;
    background-color: #ffffff40;
    padding-bottom: 5%;
    position: relative;
}

.add {
    margin-left: 5%;
    margin-top: 5%;
    background-color: #05ff0545;
    padding: 2% 0;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 0.8em;
    text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;
}

/*Добавление продукта*/
.add-modalka {
    background-color: rgba(0, 128, 0, 0.51);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 3%;
    text-shadow: 1px 0 1px green, 0 1px 1px green, -1px 0 1px green, 0 -1px 1px green;
    border-radius: 20px;
    display: none;
}

.parent-vvod {
    font-weight: 400;
    font-size: 1em;
    text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;
    margin-top: 3%;
    text-align: start;
}

.polya div {
    display: flex;
    margin-top: 2%;
}

.polya label {
    display: inline-block;
    width: 40%;
    text-align: start;
    font-weight: 400;
    font-size: 0.7em;
}

.polya input,
.polya select,
.polya option {
    width: 60%;
    color: green;
    font-weight: 400;
    font-size: 0.7em;

    padding: 0;
    font-style: italic;
}

.reiting {
    color: yellow !important;
    font-style: normal !important;
    text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;
}

.knopki {
    text-align: end;
    margin-top: 3%;
}

.knopki button {
    background-color: green;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-size: 0.7em;
    padding: 0.5% 5%;
    text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;
}

/*Категории*/
.menu div:hover{       
    scale: 1.1;    
}

table,
tr,
th,
td {
    border: 2px solid black;
}

.tablichka {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

th {
    font-size: 0.7em;
    font-weight: 700;
    text-shadow: 1px 0 1px blue, 0 1px 1px blue, -1px 0 1px blue, 0 -1px 1px blue;
}

td {
    color: black;
    font-size: 0.6em;
    font-weight: 400;
    text-align: center;
}

.kartinka {
    width: 50%;
}

.redact:hover,
.udalit:hover {
    transform: scale(1.5);
}

.parent-modalka-redact {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0000ff52;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modalka-redact {
    background-color: rgba(0, 6, 128, 0.51);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 3%;
    text-shadow: 1px 0 1px rgb(4, 0, 128), 0 1px 1px green, -1px 0 1px green, 0 -1px 1px green;
    border-radius: 20px;
}

.modalka-redact label {
    display: inline-block;
    width: 40%;
    text-align: start;
    font-weight: 400;
    font-size: 0.7em;
}

.modalka-redact input,
.modalka-redact select,
.modalka-redact option {
    width: 60%;
    color: rgb(11, 0, 128);
    font-weight: 400;
    font-size: 0.7em;
    padding: 0;
    font-style: italic;
}

.knopki-redact {
    text-align: end;
    margin-top: 3%;
}

.knopki-redact button {
    background-color: rgb(0, 28, 128);
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-size: 0.7em;
    padding: 0.5% 5%;
    text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;
}

.ok {
    border: 3px solid green;
}

.error {
    border: 3px solid red;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

.displayFlex {
    display: flex;
}