/*header и 1 секция*/
@media screen and (min-width: 1024px) and (max-width: 1366px) {

    /*header и 1 секция*/
    .logo {
        padding-right: 0;
    }

    .menu {
        margin-left: 0;
    }

    .link-menu {
        font-size: 0.8em;
    }

    .input-search {
        font-size: 0.5em;
    }

    .glavn-zagolovok {
        width: 40%;
        padding-top: 20vh;
    }

    .block-glav-img {
        width: 60%;
        padding-top: 10vh;
    }

    .slogan {
        font-size: 2em;
        font-weight: 600;
        line-height: 70px;
    }

    .burger-menu {
        display: none;
    }

    /*2 секция*/
    .section-two-imgs {
        padding-top: 10vh;
        width: 90%;
        margin: 0 auto;
        gap: 3%;
    }

    /*3 секция*/
    .block-glav-img-two {
        width: 60%;
        padding-top: 20vh;
    }

    /*4 секция*/
    .section-for {
        padding-top: 20vh;
    }

    .section-for-block {
        width: 40%;
    }

    .slogan-for-photo {
        bottom: 2px;
    }

    /*5 секция*/
    .baner {
        background-size: 100%;
    }

    .weight-baner {
        width: 50%;
        padding-left: 7%;
    }

    .zagolovok-baner {
        font-weight: 500;
        font-size: 2em;
        padding: 0;
    }

    .baner-text {
        font-size: 0.9em;
    }

    /*6 секция*/
    .section-five {
        padding-top: 0;
    }

    .blochok-flex {
        font-weight: 400;
        width: 25%;
    }

    .blochok-link {
        margin-top: 20px;
    }

    .medal-img {
        left: 40%;
    }

    /*footer*/
    .footer {
        height: 30vh;
        font-weight: 400;
        padding: 50px 20px;
    }

    .footer-block {
        width: 40%;
    }

    .footer-link {
        font-weight: 300;
        font-size: 0.7em;
    }

    .input-email {
        font-weight: 300;
        font-size: 0.7em;
        line-height: 1.5;
    }

    .input-email-block {
        width: 100%;
        font-weight: 300;
        font-size: 0.7em;
        height: 4.5vh;
    }

    .input-email-text {
        width: 90%;
    }

    .input-link {
        display: block;
        padding: 5px 40px;
        border: 1px white solid;
        text-align: center;
        margin-top: 15px;
    }

}

@media screen and (max-width: 1023px) {

    /*header и 1 секция*/

    main {
        overflow: hidden;
    }

    .logo {
        padding-right: 0;
        width: 60%;
    }

    .menu {
        display: none;
    }

    .link-menu {
        font-size: 0.6em;
    }

    .input-search {
        font-size: 0.4em;
        width: 40%;
        margin-right: 10px;
    }

    .korzina-itigo {
        margin-right: 3vw;
    }

    .korzina-itigo-activ {
        margin-right: 20vw;
    }

    .burger {
        margin-right: 2vw;
        display: block;
    }

    .displayNone {
        display: none;
    }

    .burger-menu {
        position: absolute;
        top: 1vh;
        background-color: white;
        display: none;
    }

    .displayBlock {
        display: block;
    }

    .glavn-zagolovok {
        width: 100%;
        padding-top: 0;
    }

    .block-glav-img {
        width: 60%;
        padding-top: 15vh;
    }

    .slogan {
        font-size: 2em;
        font-weight: 600;
        line-height: 70px;
    }

    .glavn-section {
        display: block;
        margin-bottom: 31vh;
    }

    .slogan-knopka {
        width: 200px;
    }

    .glavn-knopka {
        font-size: 0.8em;
    }

    .block-glav-img {
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }

    /*2 секция*/
    .section-two {
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 50%;
    }

    .section-two-imgs {
        flex-wrap: wrap;
        align-content: space-evenly;
        padding-top: 5vh;
    }

    .img-rasprod {
        margin: 3vh;
        width: 35%;       
    }

    /*3 секция*/
    .section-tree {
        flex-direction: column-reverse;
        height: 100%;
    }

    .block-glav-img-two {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }

    /*4 секция*/
    .section-for {
        display: block;
        padding: 0;
        padding-bottom: 100px;
    }

    .section-for-block {
        margin: 0 auto;
        width: 85%;
        padding-top: 100px;
    }

    /*5 секция*/
    .baner {
        background-size: 100%;
    }

    .weight-baner {
        width: 90%;
        padding-left: 7%;
    }

    .zagolovok-baner {
        font-weight: 600;
        font-size: 1.5em;
        padding: 0;
        line-height: 0;
        padding-top: 5%;
    }

    .baner-text {
        font-size: 0.8em;
        line-height: 1.5;
    }

    /*6 секция*/
    .section-five {
        padding-top: 0;
    }

    .section-five-block-one {
        font-weight: 400;
        font-size: 2em;
        width: 90%;
        margin-bottom: 80vh;
    }

    .flex {
        display: block;
    }

    .blochok-flex {
        width: 90%;
        display: flex;
        margin: 0 auto;
    }

    .blochok {
        width: 40%;
        margin: 0;
        padding-top: 10px;
        padding-left: 50px;
    }

    .blochok-two {
        width: 50%;
        padding-top: 10%;
        padding-left: 50px;
    }

    .medal-img {
        width: 20vh;
        top: -50px;
        right: 25vw;
    }

    .section-five-block-two {
        font-weight: 400;
        font-size: 2em;
        width: 70%;
        margin-top: 125vh;
    }

    .strelochka-block {
        width: 10vh;
    }

    /*footer*/
    .footer {
        height: 30vh;
        font-weight: 400;
        padding: 20px 20px;
    }

    .footer-block {
        width: 40%;
        font-size: 0.7em;
    }

    .footer-link {
        font-weight: 300;
        font-size: 0.7em;
    }

    .input-email {
        font-weight: 300;
        font-size: 0.7em;
        line-height: 1.5;
    }

    .input-email-block {
        width: 100%;
        font-weight: 300;
        font-size: 0.7em;
        height: 4.5vh;
    }

    .input-email-text {
        width: 90%;
    }

    .input-link {
        display: block;
        padding: 5px 40px;
        border: 1px white solid;
        text-align: center;
        margin-top: 10px;
    }

    .margin {
        margin-top: 0;
    }

    /*страница - каталог*/
    .katalog {
        grid-template-columns: 1fr 1fr;
    }

    /*модальное окно с продуктом*/
    /*блок картинок*/
    .big-card {
        display: block;
        height: auto;
    }

    .block-card-imgs,
    .block-card-info {
        width: 80%;
        margin: 0 auto;
    }

    /*блок детали инфо*/
    .block-card-detali {
        margin-top: 5%;
    }

    /*блок отзывов*/
    .block-card-otzovi {
        padding-top: 50px;
    }

    .otzovs {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px 150px 150px;
        grid-gap: 20px;
    }

    /*модальное окно корзина*/
    .block-gl-text-korzinki {
        width: 60%;
    }

    /*мини корзина*/
    .block-konec {
        width: 100%;
    }

    .photo {
        height: 50%;
    }

    .block-photo {
        padding-top: 20%;
    }

}