@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;400;500;600;700&display=swap');

/*основные настройки*/
body {
    margin: 0;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 24px;
    position: relative;
}

main {
    margin: 0 auto;
    background-color: #FFFFFF;
}

.logo {
    padding-left: 50px;
    padding-right: 10%;
}

.logo-img {
    width: 100%;
}

.header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

nav {
    width: 50%;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    list-style: none;
}

.link-menu {
    color: #333333;
    text-decoration: none;
}

.input-search {
    font-size: 0.6em;
    line-height: 30px;
    width: 20%;
    text-align: center;
    color: #787878;
    border-radius: 20px;
    border: 1px #A04955 solid;
    margin-right: 50px;
    background-image: url('/img/search.png');
    background-size: 24px 24px;
    background-position: 95% center;
    background-repeat: no-repeat;
}

.korzina-itigo {
    margin-right: 10px;
    position: relative;
}

.kolvo {
    border: 3px #A04955 solid;
    border-radius: 50%;
    padding: 2px 5px;
    font-weight: 600;
    text-align: center;
    font-size: 0.5em;
    position: absolute;
    top: -15px;
    right: 9px;
}

.burger,
.burger-menu {
    display: none;
}

/*1 страница*/

/*1 секция*/
.glavn-section {
    display: flex;
    height: 85vh;
    justify-content: space-between;
}

.glavn-zagolovok {
    width: 40%;
    padding-top: 15vh;
    padding-left: 50px;
}

.slogan {
    font-weight: 700;
    font-size: 2.7em;
    color: #001F3D;
    line-height: 96.33px;
    width: 90%;
    margin-bottom: 0;
}

.slogan-two {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 32.68px;
    margin-top: 10px;
}

.slogan-knopka {
    border: 1px solid #000000;
    width: 240px;
    text-align: center;
    line-height: 33px;
}

.glavn-knopka {
    display: inline-block;
    padding: 10px 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
}

.block-glav-img {
    width: 40%;
    padding-top: 5vh;
    padding-right: 35px;
}

.glav-img {
    width: 100%;
}

/*2 секция*/
.section-two {
    background-color: #F1F1F1;
    height: 100vh;
    margin-top: 10%;
    padding-bottom: 20vh;
}

.section-two-imgs {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15vh;
}

.img-rasprod {
    width: 20%;    
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 10px;   
}

.img-rasprod .zvezds{
    justify-content: center;
}

.section-two-slogan {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 53px;
    color: #333333;
    text-align: center;
    padding-top: 5vh;
}

.section-two-slogan-two {
    font-weight: 500;
    font-size: 2.6em;
    line-height: 95px;
    color: #333333;
    text-align: center;
}

/*3 секция*/
.section-tree {
    display: flex;
    justify-content: space-between;
    padding: 80px 50px 0 50px;
    height: 100vh;
}

.block-glav-img-two {
    width: 40%;
    padding-top: 10vh;
}

/*4 секция*/
.section-for {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    gap: 50px;
}

.glavn-knopka-for {
    border: 1px solid #000000;
    width: 350px;
    text-align: center;
    line-height: 33px;
    margin: 20px auto 0;
}

.section-for-block {
    width: 35%;
}

.block-img-for {
    margin: 0 auto;
    position: relative;
}

.slogan-for {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 32.68px;
    margin-top: 20px;
    text-align: center;
}

.slogan-for-photo {
    position: absolute;
    bottom: 0;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 53px;
    color: #FFFFFF;
    background-color: #A04955;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

/*5 секция*/
.baner {
    background-image: url("../img/nogi.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
}

.weight-baner {
    width: 35%;
    padding-left: 12%;
}

.zagolovok-baner {
    font-weight: 700;
    font-size: 2.7em;
    line-height: 96px;
    color: #FFFFFF;
    padding-top: 20px;
}

.baner-text {
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 33px;
    color: #FFFFFF;
    padding: 20px 0;
}

.baner-button {
    display: inline-block;
    text-decoration: none;
    background-color: #A04955;
    padding: 10px 50px;
}

/*6 секция*/
.section-five {
    padding-top: 100px;
}

.section-five-block-one {
    font-weight: 700;
    font-size: 2.7em;
    color: #FFFFFF;
    width: 90%;
    background-color: #A04955;
    margin: 0 auto;
    text-align: center;
    height: 30vh;
    padding-top: 50px;
    margin-bottom: 50vh;
    position: relative;
}

.section-five-block-two {
    font-weight: 700;
    font-size: 2.7em;
    color: #001F3D;
    width: 80%;
    background-color: #F3F3F3;
    margin: 0 auto;
    text-align: center;
    height: 40vh;
    padding-top: 80px;
    margin-bottom: 50px;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    height: 47vh;
}

.blochok-flex {
    background-color: #FFFFFF;
    font-size: 0.3em;
    font-weight: 500;
    color: #333333;
    width: 20%;
    border: 1px solid #A04955
}

.blochok {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}

.blochok-link {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 0.75em;
    text-align: center;
    color: #FFFFFF;
    background-color: #A04955;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
}

.medal-img {
    width: 30vh;
    position: absolute;
    top: -95px;
    right: 40%;
}

.blochok-medal {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 0.4em;
    color: #000000;
    margin: 10px auto;
}

.medal-link {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 0.5em;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #000000;
    padding: 10px 40px;
}

.strelochka-block {
    width: 13vh;
    position: absolute;
    bottom: -5px;
    right: -50px;
}

.strelochka {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    background-color: #A04955;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

/*footer*/
.footer {
    height: 40vh;
    background-color: #A04955;
    color: #FFFFFF;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.footer-link {
    font-weight: 400;
    font-size: 0.8em;
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    margin: 10px 0;
}

.input-email {
    font-weight: 400;
    font-size: 0.8em;
    margin: 0;
    margin: 10px 0;
}

.margin {
    margin-top: 40px;
}

.input-email-block {
    margin: 10px 0;
    width: 80%;
    height: 5.5vh;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    background-color: #FFFFFF;
    overflow: hidden;
    
}

.input-email-text {
    margin: 5px;
    width: 60%;
    border: #FFFFFF;
}

.input-email-text::-webkit-input-placeholder {
    color: #A04955;
}

.input-link {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    background-color: #A04955;
    padding: 5px 40px;
}

.address {
    height: 3vh;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.7em;
    padding: 10px 5vw;
    font-style: normal;
}

/*страница - каталог*/
.header-kataloga {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    padding-bottom: 20px;
}

.hleb {
    display: flex;
}

.hleb-link {
    font-weight: 500;
    font-size: 0.6em;
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.poisk-po-katalogy {
    font-weight: 600;
    font-size: 1.5em;
    color: #C4C4C4;
    width: 80%;
    border-bottom: 3px solid #C4C4C4;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.main-kataloga {
    background-color: #F1F1F1;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    position: relative;
}


.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b93b5489;
    z-index: 1;
    cursor: no-drop;
    text-align: center;
    padding-top: 15%;
    display: none;
}

.filter {
    width: 18%;
}

.filter-block {
    background-color: #FFFFFF;
    padding: 15px;
    font-size: 0.6em;
    min-height: 270px;
    position: sticky;
    top: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.strelka {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.strelka-size-vverh,
.strelka-color-vverh {
    display: none;
}

.block-filter-size,
.block-filter-color {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #C4C4C4;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.filter-vibor-color,
.filter-vibor-size {
    background-color: #F1F1F1;
    font-weight: 300;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #BCBCCC;
    display: none;
}

.katalog {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    position: relative;
}

.kartochka-kataloga {  
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 10px;
    text-align: center;
}

.artik{
    display: none;
}

.kartochka-kataloga .zvezds{
    justify-content: center;
}

.block-img-kataloga {
    height: 50%;
    margin-bottom: 10%
}

.img-kataloga {    
    width: 80%;
    height: 100%;
}

.name-kartochki-kataloga {
    font-size: 0.6em;
}

.czena {
    font-size: 0.5em;
    font-weight: 200;
}

.pricess {
    font-size: 1em;
    font-weight: 600;
}

.variants-color {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    margin-bottom: 10px;
}

.variant-color {
    width: 15px;
    height: 15px;
    border: #787878 0.5px solid;
    margin-right: 2px;
}

.v-korzinky {
    background-color: #A04955;
    color: #FFFFFF;
    font-size: 0.6em;
    font-weight: 200;
    padding: 2%;
    margin-top: 10px;
}

.cones {
    position: absolute;
    bottom: -40px;
    right: -55px;
}

.block-strelochka {
    width: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    padding-left: 50%;
}

/*модальное окно с продуктом*/
.produkt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: #FFFFFF;
}

.nazad{
    color: #A04955;
    font-weight: 800;
    font-size: 1.5em;
    position: absolute;
    top: 130px;
    right: 15px;
}

/*блок картинок*/
.big-card {
    height: 85vh;
    display: flex;
}

.block-card-imgs,
.block-card-info {
    width: 50%;
}

.block-card-imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-imgs-one {
    width: 50%;
    margin: 0 auto;
    padding-top: 5%;
}

.two-cards {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.card-imgs-two,
.card-imgs-tre {
    width: 25%;
    border: 1px solid #333333;
    padding: 5%;
}

.activ-img {
    border: 2px solid #B93B54;    
}

/*блок инфо*/
.block-card-info {
    font-weight: 400;
    font-size: 0.75em;
    margin-right: 50px;
}

.na_pro {
    font-weight: 600;
    font-size: 1.7em;
    margin-top: 10%;
}

.artikul {
    font-weight: 400;
    font-size: 0.25em;
}

.zvezds {
    display: flex;
    color: #FFCC48;
    align-items: end;
    margin-top: 5px;
    margin-bottom: 10px;
}

.otzov {
    font-size: 0.5em;
    color: #000000;
    margin-left: 2%;
    padding-bottom: 0.7%;
}

.prices {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 15px;
}

.colors {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.color {
    height: 24px;
    width: 24px;
    margin-right: 15px;
    border: #787878 0.5px solid;
}

.sizes {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    text-align: center;
}

.size {
    border: 1px solid #C4C4C4;
    height: 24px;
    width: 24px;
    margin-right: 15px;
    padding-top: 0.2%;
    box-sizing: border-box;
    text-align: center;
}

.color-activ,
.activ {
    border: double 3px #000000;
    box-sizing: border-box;
}

.korzina {
    margin-right: 20px;
}

.knopki {
    display: flex;
}

.wish,
.korzina {
    border: 1px solid #000000;
    width: 50%;
    height: 50px;
    font-size: 1em;
}

.korzina {
    color: #FFFFFF;
    background-color: #B93B54;
}

.wish {
    color: #B93B54;
}

.ikonki {
    margin: 10px 0;
}

.ikonka-f,
.ikonka-pt,
.ikonka-p,
.ikonka-oo {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url("../img/ikonki.png");
    margin-right: 20px;
}

.ikonka-f {
    background-position: 711px -846px;
}

.ikonka-pt {
    background-position: 650px -846px;
}

.ikonka-p {
    background-position: 590px -846px;
}

.ikonka-oo {
    background-position: 531px -846px;
}

.dostavka {
    text-align: center;
    background-color: #FAFAFA;
    font-size: 1em;
    color: #333333;
    padding: 10px 0;
}

.liniya {
    margin: 5px auto;
    background-color: #B93B54;
    width: 70%;
    height: 2px;
}

.ikonki-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ikonki-info-block {
    width: 20%;
    font-size: 0.5em;
}

.ikonka-dostavka,
.ikonka-vozvrat {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url("../img/ikonki.png");
}

.ikonka-dostavka {
    background-position: 656px -988px;
}

.ikonka-vozvrat {
    background-position: 330px -988px;
    margin-left: 5%;
}

/*блок детали инфо*/
.block-card-detali {
    margin-top: 10%;
    font-weight: 600;
    text-align: center;
}

.detali-info {
    font-weight: 300;
    font-size: 0.8em;
    text-align: left;
    width: 85%;
    margin: 2% auto;
}

/*блок отзывов*/
.block-card-otzovi {
    background-color: #000000;
    font-weight: 600;
    text-align: center;
    color: #FAFAFA;
    margin-top: 50px;
    margin-bottom: 5%;
    padding-top: 2%;
}

.otzovs {
    width: 85%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-gap: 20px;
}

.otzov-zvezda {
    background-color: #FAFAFA;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.zvezda {
    color: #FFCC48;
    margin-bottom: 5%;
}

.otzov_ {
    color: #000000;
    font-weight: 200;
    font-size: 0.5em;
    width: 90%;
    margin: 0 auto;
    text-align: start;
    overflow: auto;
    height: 60%;
}

.block-otzov {
    text-align: end;
    padding-bottom: 3%;
    padding-right: 3%;
}

.napisat {
    font-weight: 400;
    background-color: #A04955;
    color: white;
    margin-right: 100px;
}

.paginaciya-activ {
    background-color: #A04955;
    color: white;
    font-size: 0.7em;
    margin: 0 3px;
}

.paginaciya-passiv {
    background-color: white;
    color: #A04955;
    font-size: 0.7em;
    margin: 0 3px;
}

/*модальное окно корзина*/
.korzina-pokupok {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b93b5481;
    width: 100vw;
    height: 100vh;
    display: none;
}

.block-korzina-pokupok {
    width: 70vw;
    height: 70vh;
    background-color: #E5E5E5;
    margin: 15vh auto;
    overflow: auto;
    position: relative;

}

.gl-text-korzinki {
    font-weight: 800;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #E5E5E5;
    position: sticky;
    top: 0vh;
    display: flex;
}

.block-gl-text-korzinki {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.konec {
    font-weight: 800;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #E5E5E5;
    position: sticky;
    bottom: -1vh;
    display: flex;
    justify-content: end;
}

.block-konec {
    width: 80%;
}

.vsego {
    margin-bottom: 10px;
    padding-left: 5%;
}

.ophormlenie,
.prodol {
    margin-left: 5%;
}

/*товар*/
.tovar {
    width: 95%;
    height: 100px;
    background-color: #FAFAFA;
    margin: 3vh auto;
    display: flex;
}

.tovar-photo {
    width: 20%;
}

.block-photo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.photo {
    height: 100%;
}

.tovar-name {
    width: 40%;
    padding: 2%;
    font-size: 0.7em;
}

.vibor {
    display: flex;
    padding-top: 2%;
    font-size: 0.9em;
    margin-right: 5%;
}

.tovar-itog {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.7em;
    padding: 2%;
    text-align: center;
}

.kolichestvo,
.itog-price,
.itogo {
    margin-top: 10px;

}

.kolichestvo {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;

}

.tovar-udalit {
    color: red;
    flex-grow: 1;
    text-align: center;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}