@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&family=Space+Grotesk:wght@400;700&display=swap');


body {
    margin: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

main {
    margin: 0 auto;
    min-width: 800px;
    max-width: 1400px;
    background-color: #F5F5F5;
}

header {
    background-color: #000000;
}

.шапка {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0 10%;
}

.логотип {
    font-weight: 500;
    font-size: 2.25em;
}

.навигация {
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
    padding-top: 1%;
}

.меню {
    font-weight: 500;
    font-size: 1.125em;
}

.меню:hover {
    color: #FFBB00;
}

.банер {
    display: flex;
}

.загол_секции1 {
    font-size: 4em;
    margin: 5% 0;
}

span {
    color: #F6AD09;
}

.текст_секции1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #B2B2B2;
    margin: 5% 0;
}

.кнопка1 {
    text-align: left;
    margin: 5% 0;
}

.ссылка {
    padding: 3%;
    display: inline-block;
    text-decoration: none;
    background-color: #F6AD09;
    font-size: 1.125em;
    color: #332200;
}

.инфо_банер {
    margin: 5% 10%;
    width: 60%;
}

.картинка_банер {
    flex-basis: 70%;
    position: relative;
}

.карт_банера {
    position: absolute;
    right: 20%;
    top: 5%;
}

section {
    margin: 10% 0;
}

.заголовок_секции2 {
    font-size: 4em;
    color: #111111;
    margin-left: 10%;
    margin-bottom: 5%;
}

img {
    width: 100%;
}

.карточки {
    display: flex;
    justify-content: space-evenly;
}

.карточка {
    flex-basis: 30%;
}

.заголовок_карточки2::before {
    content: "";
    width: 20px;
    height: 10px;
    background-color: #F6AD09;
    display: inline-block;
    margin-bottom: 1%;
}

.заголовок_карточки2 {
    font-size: 2em;
    color: #111111;
    margin-top: 5%;
}

.цена_карточки2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #595959;
    margin-left: 5%;
}

.инфо_банер3 {
    width: 40%;
    margin: 10%;
}

.картинка_банер2 {
    position: absolute;
    right: 0%;
    bottom: -10%;
    width: 50%;

}

.секция3 {
    background-color: #000000;
    position: relative;
}

.подзаголовок_секции3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #B2B2B2;
}

.ссылка_большая {
    text-decoration: none;
    font-size: 1.5em;
    color: #FFBB00;
}

.линия {
    border-bottom: 4px solid #FFBB00;
    width: 50%;
    padding-bottom: 1.5%;
}

.блок_мини_карт {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.мини_карточки {
    width: 45%;
}

.заголовок_карточки3 {
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 3%;
}

.заголовок_карточки3::before {
    content: "";
    width: 20px;
    height: 10px;
    background-color: #F6AD09;
    display: inline-block;
    margin-bottom: 1%;
    margin-right: 3%;
}

.текст_карточки3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #B2B2B2;
}

.партнёры {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2%;
}

.партнёр {
    width: 23%;
    margin: 0.5%;
}

.блок_автора {
    display: flex;
    height: 610px;
}

.foto {
    flex-basis: 50%;
}
.фото{
    height: 100%;
}
.блок_цитаты {
    background-color: #FFBB00;
    flex-basis: 50%;
}

.цитата {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 2.25em;
    font-style: italic;
    color: #332200;
    width: 85%;
    margin-top: 30%;
    margin-left: 10%;
}

.ковычка {
    color: #E4A30B;
    font-size: 1em;
}

.автор {
    font-size: 1.5em;
    color: #664400;
    margin-left: 10%;
    margin-top: 5%;
}

.описание_услуг {
    background-color: #161616;
}

.загол_секции5 {
    font-size: 4em;
    margin-left: 5%;
    padding: 5% 0;
}

.блок_карточек_5 {
    display: flex;
    justify-content: space-evenly;

}

.карточка_5 {
    background-color: #000000;
    transition: all .5s;
    padding: 4%;
    margin-bottom: 5%;
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 5%;

}

.карточка_5:hover {
    color: #E4A30B;
    flex-grow: 2;
    font-size: 1.127em;

}

.шапка_карт_5 {
    display: flex;
    justify-content: space-between;
}

.загол_шапка_карт_5 {
    font-size: 2.25em;
    color: #9C9C9C;
    transition: all .5s;
    margin-left: 7%;
}

.загол_шапка_карт_5:hover {
    color: #FFBB00;    
}

.цена_карт_5 {
    font-size: 2.25em;
}

.подцена_карт_5 {
    font-size: 0.75em;
    color: #9C9C9C;
    text-align: right;
}

.описание_карт_5 {
    margin-top: 10%;
}

.описание_мини_карт5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    margin-bottom: 3%;
}

.описание_мини_карт5::before {
    content: "";
    width: 20px;
    height: 10px;
    background-color: #F6AD09;
    display: inline-block;
    margin-right: 3%;
}

.кнопка5 {
    margin-left: 7%;
    margin-top: 10%;
}

.ссылка_кн_5 {
    display: inline-block;
    padding: 3% 5%;
    text-decoration: none;
    font-size: 1.125em;
    color: #CCCCCC;
    background-color: #2E2E2E;
}

footer {
    background-color: #000000;
}

.инфо_footer {
    display: flex;
    padding: 5%;
    justify-content: space-evenly;
}

.загол_footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 10%;

}

.контакты {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    color: #B2B2B2;
    margin: 4%;
}

.мини_меню {
    font-weight: 500;
    font-size: 1.125em;
    color: #B2B2B2;
    margin: 4%;
}

.мини_меню:hover {
    color: #FFBB00;
}

.контакты:hover {
    color: #FFBB00;
}

.блок_footer {
    margin-top: 1.5%;
    width: 30%;
    margin-left: 20%;
}

.ссылка_контактов {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    color: #B2B2B2;
}

.ссылка_контактов:hover {
    color: #FFBB00;
}

.соц.сети {
    display: flex;
}

.иконкаi {
    width: 50px;
    height: 50px;
    background-image: url(../Картинки/соц.сети.jpg);
    background-position: 531px 598px;
    margin: 5%;
    border-radius: 50%;
    display: inline-block;
}

.иконкаf {
    width: 50px;
    height: 50px;
    background-image: url(../Картинки/соц.сети.jpg);
    background-position: 606px 745px;
    margin: 5%;
    border-radius: 50%;
    display: inline-block;
}

.иконкаu {
    width: 50px;
    height: 50px;
    background-image: url(../Картинки/соц.сети.jpg);
    background-position: 606px 598px;
    margin: 5%;
    border-radius: 50%;
    display: inline-block;
}

.© {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    color: #B2B2B2;
    padding-bottom: 3%;
    margin-left: 5%;
}