@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

main {
    margin: 0 auto;
    background-color: #D0B591;
    height: 100vh;
    padding-top: 20vh;
}

.korpus {
    height: 350px;
    width: 250px;
    background-color: #414445;
    margin: 0 auto;
    border-radius: 20px;
    padding-top: 2%;
    font-size: 2em;
}

.tablo {
    height: 10%;
    width: 80%;
    background-color: #C0C799;
    margin: 0 auto;
    border: 3px #202221 solid;
    border-bottom-width: 0px;
    border-right-width: 0px;
    overflow: hidden;
}

.knopki {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 40px;
    text-align: center;
    grid-gap: 20px;
    margin-top: 5%;
    margin-left: 6%;
}

.black {
    color: #000;
}
.em {
    font-size: 0.7em;
    padding-top: 15%;
}

.grey {
    background-color: #6F6E70;
}

.roz {
    background-color: #F96565;
}

.korich {
    background-color: #9A724A;
}

.ser {
    background-color: #312F31;
    color: white;
}

.knopki div {
    border-radius: 5px;
    border: 3px #202221 solid;
    border-bottom-width: 0px;
    border-right-width: 0px;
    box-sizing: border-box;
}

.knopki div:active {
    border: none;
}