.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.one-div {
    height: 400px;
}

.two-div {
    width: 20%;
    background-color: red;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.two-div-green {
    background-color: green;
}
