@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

/*настройка сайта*/
body {
    margin: 0;
    color: white;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 16px;
}

main {
    margin: 0 auto;
    background-color: black;
    height: 90vh;
    padding-top: 10vh;
    position: relative;
}

/*настройка главных кнопок*/
.menuBlock {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-top: 35vh;
}

.menu {
    display: inline-block;
    font-size: 4em;
    padding: 5vh;
    text-decoration: none;
    color: white;
}

.interfeisBlock {
    width: 30%;
    margin: 0 auto;
    text-align: left;
    padding-top: 15vh;
}

.interfeis {
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.interfeises {
    font-size: 2em;
    width: 30%;
    margin: 0 auto;
    text-align: left;
    padding-top: 5vh;
}

/*настройка игры*/
.igra {
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    border: 3px white solid;
}

.schetchik {
    width: 50%;
    font-size: 3em;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 10px;
}

.schet {
    width: 20%;    
    margin: 0 auto;    
}

.pole {
    border: 3px white solid;
    margin: 10px auto;
    width: 95%;
    height: 70%;
    background-color: darkgreen;
    position: relative;
}

.granisa {
    border: 3px white solid;
    opacity: 0.3;
    width: 0.1%;
    height: 99%;
    position: absolute;
    margin-left: 50%;
    background-color: white;
    z-index: 0;
}

.raketka_kompa {
    border: 3px white solid;
    background-color: white;
    width: 0.2%;
    height: 10%;
    position: absolute;
}

.raketka_polzovatelya {
    border: 3px white solid;
    background-color: white;
    width: 0.2%;
    height: 10%;
    position: absolute;    
    right: 0;
}

.myachik {
    border: 3px white solid;
    background-color: white;
    width: 2%;
    height: 3%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 5px;
}

.knopka {
    border: 3px white solid;
    width: 20%;
    font-size: 2em;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    border-radius: 40px;
}

.modalkaInfo {
    position: absolute;    
    top: 15vh;
    left: 10vw;
    width: 80%;
    height: 300px;
    background-color: rgb(165, 42, 42);
    color: aqua;
    display: none;
    text-align: center;   
    z-index: 1; 
}

.display {
    display: block;
}
