body {
    margin: 0;
    color: black;
    font-size: 16px;
}

main {
    margin: 0 auto;
    width: 100%;   
    background-color: rosybrown;
}

#konteiner {
    background-color: blueviolet;   
    width: 70%;
    margin: 0 auto;
    padding: 0 5%; 
    padding-bottom: 5%;   
}

.shapka {
    display: flex;
    background-color: blueviolet;
    font-size: 1.5em;
    color: white;
    padding-top: 5%;    
}
.avtor, .pochta{
    width: 50%;
    background-color: white;
    margin-top: 5%;
}
.otziv{
    background-color: white;
    margin-top: 5%;
    height: 20vh;   
}