@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&family=Space+Grotesk:wght@400;700&display=swap');

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

main {
    background: linear-gradient(129deg, #3E718E, #64969B);
    margin: 0 auto;
    height: 100vh;
}

.gl_blok {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.info_blok {
    background-color: #FFFFFF;
    width: 50%;
}

.blok2 {
    width: 40%;
    background: linear-gradient(129deg, #517879, #214159);
    box-shadow: 0px 0px 10px 9px #4E7577;
}

.navigacia {
    display: flex;
    justify-content: flex-end;
}

.menu {
    color: #FFFFFF;
    padding: 5% 3%;
}

.citata {
    font-size: 3em;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #314856;
    padding: 25% 5% 0 10%;
}

.avtor {
    color: #FFFFFF;
    padding: 3% 5% 40% 10%;
    text-shadow: 2px 2px 2px #314856;
}

.logo {
    font-size: 1.5em;
    color: #496F74;
    background: linear-gradient(to right, #6E9195 37.08%, #2D4F61 83.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5% 3%;
}

.zagolovok {
    color: #000000;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 3%;
}

form {
    padding: 0 5% 0 10%;
    width: 80%;
}

label {
    color: #000000;
    font-weight: 400;
    display: block;
    margin-bottom: 1%;
}

input {
    opacity: .3;
    margin-bottom: 2%;
    width: 90%;
    padding: 1%;
    font-weight: 400;
    font-size: 0.75em;
}
.placeholder{
    color: #A8A8A8;
    font-weight: 400;
    font-size: 0.625em;    
}
.otstyp{
    margin-top: 3%;
}
select{
    opacity: .3;
    margin-bottom: 2%;
    width: 93%;
    padding: 1%;
    font-weight: 400;
    font-size: 0.75em;
}
.knopka{
    text-align: center;
}
.ssilka{
    display: inline-block;
    width: 60%;
    padding: 2% 0;
    margin-top: 2%;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #27485D;
   
}
.vopros{
    color: #C4C4C4;
    margin-right: 3%;
}
.info{
    display: flex;
    margin-top: 2%;
    justify-content: center;
    margin-bottom: 5%;
}
.Login{
    color: #476D73;    
}