@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&family=Tilt+Prism&display=swap');

/*главные настройки*/

body {
    margin: 0;
    color: brown;
    font-family: 'Shantell Sans', cursive;
    font-weight: 400;
    font-size: 16px;
}

main {
    margin: 0 auto;
    background-color: aqua;
}

.main_text {
    font-family: 'Tilt Prism', cursive;
    font-size: 0.8em;
    color: black;
}

/*стиль шапки*/

.header {
    height: 10vh;
    background-color: blue;
}

/*стиль контейнера*/

.container {
    width: 80%;
    min-height: 80vh;
    height: auto;
    background-color: bisque;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

/*стиль карточки*/

.card {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1%;
    background-color: aquamarine;
    margin-bottom: 2%;
}

.photo_ {
    height: 80%;
}

.photo_ikon {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1%;
    width: 60%;
    height: 80%;
}

.comment {
    height: 80%;
    overflow: auto;
}

.button_ {
    width: 20%;
    align-self: self-end;
    text-align: center;
    background-color: blue;
    color: black;
    box-shadow: 4px 4px 20px #000000b0;
}

/*стиль подвала*/

.footer {
    height: 10vh;
    background-color: blue;
}