@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /*700*/
    font-size: 16px;
}

main {
    margin: 0 auto;
    background-color: bisque;
    min-height: 100vh;
    position: relative;
}

.shapka {
    display: flex;
}

.kurs,
.geroi,
.dela {
    flex-grow: 1;
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    height: 10vh;
    padding: 3vh;
    transition: all 0.6s linear;
    box-sizing: border-box;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    box-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.kurs:hover,
.geroi:hover,
.dela:hover {
    background-color: yellow;
    color: black;
    transform: scaleX(1.05);
    box-shadow: 0px 0px 40px 5px rgb(144, 144, 75);
    cursor: pointer;
}

.cat {
    height: 100%;
}

.block-img {
    height: 80vh;
    width: 70%;
    margin: 0 auto;
    padding-top: 3%;
    overflow: hidden;
    opacity: 0.5;    
}

.tablichka-kurs,
.tablichka-delo {
    width: 100%;
}

thead {
    font-weight: 700;
    font-size: 1.3em;
    color: white;
    text-shadow: 1px 1px 6px blue, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
}

.tablichka-kurs,
thead,
tr,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

.shapka-tablichki-kurs {
    text-align: start;
}

.redact:hover {
    transition: transform 0.2s linear;
    transform: scale(1.01, 1.2);
    background-color: rgb(251, 205, 150);
    cursor: pointer;
}

.parent-modalka {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.297);  
}

.modalka {
    background-color: rgba(137, 43, 226, 0.959);
    padding: 2%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 20vh;
}

.modalka-shapka {
    font-weight: 700;
    font-size: 1.1em;
    text-shadow: 1px 1px 6px blue, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.delo {
    border: #000 2px double;
    padding: 4%;
    color: white;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    font-style: italic;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 2%;
    padding-top: 2%;
    gap: 1%;
}

.card {
    border: 1px solid blue;
    border-radius: 10%;
    font-weight: 700;
    font-size: 1.1em;
    color: white;
    text-shadow: 1px 1px 6px blue, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
    padding: 7%;
    background-color: rgba(137, 43, 226, 0.273);
}

.card span {
    font-weight: 400;
    font-size: 0.8em;
    color: black;
    text-shadow: none;
}

.next {
    position: absolute;
    bottom: 3%;
    right: 0;
    margin-right: 2%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.1em;
    color: white;
    background-color: blue;
    padding: 0.5% 2%;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    display: none;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}