@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&family=Volkhov&display=swap');

.body {
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.main {
    background-color: #FFFFFF;
    max-width: 1620px;
    margin: 0 auto;
    overflow: hidden;
}

/*шапочка*/

.header {
    background-color: #000000;
    height: 10vh;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    min-width: 10%;
    background-color: #FFFFFF;
}

.logog {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: end;
    width: 90%;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-right: 3%;
}

.menu {
    margin-left: 3%;
}

.link {
    font-size: 2em;
    color: #FFFCFC;
    text-decoration: none;
    transition: all 1s;
}

.link:hover {
    color: #A3530AB2;
}

/*секция 1 - gallery*/

.section {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gal {
    width: 25%;
    order: 1;

}

.gallery {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    order: 2;
}

.gal_ {
    width: 25%;
    order: 3;

}

.gallery_ {
    width: 95%;
}

.z {
    width: 100%;
}

.animationL {
    animation-name: animationL;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes animationL {
    from {
        transform: translateX(-50vw);
    }

    20% {
        transform: translateX(-40vw);
    }

    40% {
        transform: translateX(-30vw);
    }

    60% {
        transform: translateX(-20vw);
    }

    80% {
        transform: translateX(-10vw);
    }

    to {
        transform: translateX(0vw);
    }
}

.animationLL {
    animation-name: animationLL;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes animationLL {
    from {
        transform: translateX(-100vw);
    }

    20% {
        transform: translateX(-40vw);
    }

    40% {
        transform: translateX(-30vw);
    }

    60% {
        transform: translateX(-20vw);
    }

    80% {
        transform: translateX(-10vw);
    }

    to {
        transform: translateX(0vw);
    }
}

.animationR {
    animation-name: animationR;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes animationR {
    from {
        transform: translateX(50vw);
    }

    20% {
        transform: translateX(40vw);
    }

    40% {
        transform: translateX(30vw);
    }

    60% {
        transform: translateX(20vw);
    }

    80% {
        transform: translateX(10vw);
    }

    to {
        transform: translateX(0vw);
    }
}

.animationRR {
    animation-name: animationRR;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes animationRR {
    from {
        transform: translateX(50vw);
    }

    20% {
        transform: translateX(40vw);
    }

    40% {
        transform: translateX(30vw);
    }

    60% {
        transform: translateX(20vw);
    }

    80% {
        transform: translateX(10vw);
    }

    to {
        transform: translateX(0vw);
    }
}

/*секция 2 - services*/
.section- {
    max-height: 100vh;
    padding-top: 10vh;
    display: flex;
}

.blok_servis {
    width: 50%;
    order: 1;
}

.animationServis,
.animationServis_,
.animationServis__,
.animationServis___ {
    width: 40%;
    display: inline-block;
}

.services_f {
    width: 80%;
    margin: 0 auto;
}

.services_z {
    text-align: center;
    font-size: 1.5em;
}

.x {
    width: 100%;
}

.xx {
    width: 100%;
    height: 550px;
}

.blok_servis_ {
    width: 50%;
    order: 2;
}

.animationServis {
    animation-name: animationServis;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animationServis {
    0% {
        transform: translate(0vw, 5vh);
    }

    25% {
        transform: translate(25vw, 5vh);
    }

    50% {
        transform: translate(25vw, 50vh);
    }

    75% {
        transform: translate(0vw, 50vh);
    }

    100% {
        transform: translate(0vw, 5vh);
    }
}

.animationServis_ {
    animation-name: animationServis_;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animationServis_ {
    0% {
        transform: translate(5vw, 5vh);
    }

    25% {
        transform: translate(5vw, 50vh);
    }

    50% {
        transform: translate(-20vw, 50vh);
    }

    75% {
        transform: translate(-20vw, 5vh);
    }

    100% {
        transform: translate(5vw, 5vh);
    }
}

.animationServis__ {
    animation-name: animationServis__;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animationServis__ {
    0% {
        transform: translate(0vw, 18vh);
    }

    25% {
        transform: translate(0vw, -30vh);
    }

    50% {
        transform: translate(25vw, -30vh);
    }

    75% {
        transform: translate(25vw, 18vh);
    }

    100% {
        transform: translate(0vw, 18vh);
    }
}

.animationServis___ {
    animation-name: animationServis___;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animationServis___ {
    0% {
        transform: translate(5vw, 18vh);
    }

    25% {
        transform: translate(-20vw, 18vh);
    }

    50% {
        transform: translate(-20vw, -30vh);
    }

    75% {
        transform: translate(5vw, -30vh);
    }

    100% {
        transform: translate(5vw, 18vh);
    }
}

/*секция 3 - team*/

.section_ {
    max-height: 100vh;
    padding-top: 10vh;
    margin-bottom: 5%;
}

.zagolovok_team {
    font-size: 4em;
    padding-bottom: 1%;
    text-align: center;
    font-style: normal;
}

.foto_team {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.foto_team_ {
    min-width: 20%;
    position: relative;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}

.v {
    width: 100%;
    height: 400px;
}

.foto_team:hover {
    filter: brightness(0.8)opacity(1);
}

.foto_team_:hover {
    filter: brightness(1.3) opacity(0.8);
}

.foto_team_:hover .podpis {
    display: block;
}

.podpis {
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 3em;
    font-style: normal;
    background-color: #a55912;
    width: 100%;
    height: 20%;
    padding-top: 10%;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: none;
}

/*секция 4 footer - contact*/

.footer {
    max-height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
}

.blok_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.info {
    width: 55%;
}

.zagolovok_info {
    font-size: 3em;
    text-align: center;
    width: 90%;
    margin-bottom: 6%;
}


.formochka {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0;
}

.formochka_ {
    background-color: #E5E5E5;
    padding-left: 6%;
    padding-bottom: 6%;
}

.input {
    color: #00000080;
    font-style: normal;
    font-size: 1.5em;
    border: 0;
    width: 40%;
}

.input_ {
    color: #00000080;
    font-style: normal;
    font-size: 1.5em;
    border: 0;
    resize: none;
    width: 93%;
}

.karta {
    width: 40%;
}

iframe {
    width: 100%;
    height: 100%;
}

.blok_kontakt {
    display: flex;
    padding-top: 3%;
    justify-content: space-between;
}

.blok_kontakt__ {
    font-size: 1.3em;
    font-style: normal;
    text-align: center;
}

span {
    font-size: .9em;
    font-weight: 600;
    font-style: italic;
}

.link_ {
    text-decoration: none;
    color: #000000;
    font-size: .9em;
    font-weight: 600;
    font-style: italic;
    transition: all 2s;
}

.link_:hover {
    color: #A3530AB2;
    font-weight: 700;
    font-size: 1em;
}

.link_:active {
    color: #fc7b02;
    font-weight: 700;
    font-size: 1em;
    text-shadow: 3px 3px 30px #A3530A;
}

.link_:visited {
    color: #fc7b02;
    font-weight: 700;
    font-size: 1em;
}

.ikonkai {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../img/соц.сети.jpg);
    background-size: 474px 386px;
    background-position: 1213px 882px;
    margin-right: 5%;
}

.ikonkaf {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../img/соц.сети.jpg);
    background-size: 474px 386px;
    background-position: 1252px 957px;
    margin-right: 5%;
}

.ikonkat {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../img/соц.сети.jpg);
    background-size: 474px 386px;
    background-position: 1251px 919px;
    margin-right: 5%;
}

.otstyp {
    margin-bottom: 7%;
}

.blochok {
    display: flex;
    margin-left: 30%;
    margin-top: 2%;
}

/*планшетная версия*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    /*шапочка*/
    .link {
        font-size: 1.5em;
    }

    .logo {
        min-width: 15%;
    }

    .nav {
        width: 85%;
    }

    /*секция 1 - gallery*/
    .section_ {
        margin-bottom: 50%;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .gal,
    .gal_ {
        width: 30%;
        order: 2;
        margin: 2%;
    }

    .gallery {
        width: 30%;
        order: 1;
        display: flex;
        margin: 2%;
    }

    .gallery_ {
        height: 200px;
        margin: 2%;
    }

    .z {
        height: 100%;
    }

    /*секция 2 - services*/
    .section- {
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70vh;
    }

    .blok_servis {
        order: 2;
    }

    .blok_servis_ {
        order: 1;
        width: 60%;
    }

    /*секция 3 - team*/

    .zagolovok_team {
        font-size: 3em;
        padding-bottom: 2%;
    }

    .foto_team_ {
        min-width: 30%;
        margin: 0 2%;
    }

    .v {
        height: 450px;
    }

    /*секция 4 footer - contact*/
    .footer {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 0%;
        flex-direction: column-reverse;
    }

    .blok_info {
        display: block;
        margin-bottom: 2%;
        width: 100%;
    }

    .info {
        width: 100%;
    }

    .zagolovok_info {
        width: 100%;
    }

    .karta {
        width: 100%;
        margin-top: 5%;
    }

    .blok_kontakt__ {
        font-size: 0.86em;
    }

    .otstyp {
        margin-bottom: 10%;
    }

}

/*мобильная версия*/

@media screen and (max-width: 767px) {

    /*шапочка*/
    .link {
        font-size: 0.85em;
    }

    .logo {
        min-width: 20%;
    }

    .nav {
        width: 80%;
    }

    /*секция 1 - gallery*/
    .section {
        display: block;
        margin-top: 30px;
    }   

    .gal,
    .gal_,
    .gallery {
        margin: 0 auto;
        width: 60%;
    }

    /*секция 2 - services*/
    .section- {
        padding-top: 10vh;
        display: block;        
    }

    .blok_servis {
        margin: 0 auto;
    }

    .blok_servis_ {
        display: none;
    }

    .animationServis,
    .animationServis_,
    .animationServis__,
    .animationServis___ {
        width: 60%;
    }

    .animationServis {
        animation-name: animationServis;
        animation-delay: 1s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    @keyframes animationServis {
        0% {
            transform: translate(-10vw, 5vh);
        }

        25% {
            transform: translate(35vw, 5vh);
        }

        50% {
            transform: translate(35vw, 50vh);
        }

        75% {
            transform: translate(-10vw, 50vh);
        }

        100% {
            transform: translate(-10vw, 5vh);
        }
    }

    .animationServis_ {
        animation-name: animationServis_;
        animation-delay: 1s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    @keyframes animationServis_ {
        0% {
            transform: translate(35vw, -30vh);
        }

        25% {
            transform: translate(35vw, 15vh);
        }

        50% {
            transform: translate(-8vw, 15vh);
        }

        75% {
            transform: translate(-8vw, -30vh);
        }

        100% {
            transform: translate(35vw, -30vh);
        }
    }

    .animationServis__ {
        animation-name: animationServis__;
        animation-delay: 1s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    @keyframes animationServis__ {
        0% {
            transform: translate(-10vw, -19vh);
        }

        25% {
            transform: translate(-10vw, -65vh);
        }

        50% {
            transform: translate(35vw, -65vh);
        }

        75% {
            transform: translate(35vw, -19vh);
        }

        100% {
            transform: translate(-10vw, -19vh);
        }
    }

    .animationServis___ {
        animation-name: animationServis___;
        animation-delay: 1s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    @keyframes animationServis___ {
        0% {
            transform: translate(35vw, -55vh);
        }

        25% {
            transform: translate(-5vw, -55vh);
        }

        50% {
            transform: translate(-5vw, -100vh);
        }

        75% {
            transform: translate(35vw, -100vh);
        }

        100% {
            transform: translate(35vw, -55vh);
        }
    }

    /*секция 3 - team*/
    .section_ {
        padding-top: 10vh;
        margin-bottom: 170vh;
    }

    .zagolovok_team {
        font-size: 3em;
    }

    .foto_team {
        display: block;     
    }

    .foto_team_ {        
        position: relative;
        border-radius: 0 0 15px 15px;
        margin: 0 auto;
        margin-bottom: 2%;        
        max-width: 40%;
        min-width: 260px;
    }

    .foto_team_:hover {
        filter: none;
    }

    .foto_team:hover {
        filter: none;
    }

    /*секция 4 footer - contact*/
    .footer {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .blok_info {
        display: block;
        margin-bottom: 2%;
        width: 100%;

    }

    .info {
        width: 100%;
    }

    .zagolovok_info {
        width: 100%;
    }

    .karta {
        width: 100%;
        margin-top: 5%;
    }

    .blok_kontakt__ {
        font-size: 0.86em;
    }

    .otstyp {
        margin-bottom: 10%;
    }
}