  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Pacifico&display=swap');


  /*настройка страницы*/
  body {
      margin: 0;
      color: #FFFFFF;
      font-family: 'Pacifico', cursive;
      font-weight: 400;
      font-size: 16px;
  }

  main {
      margin: 0 auto;
      background-color: black;
      min-height: 100vh;
      padding: 10px;
  }

  /*блок с информацией о флаге m*/
  #flag {
      border: 1px #00FF00 solid;
      box-sizing: border-box;
      padding: 5px;
      max-width: 20vw;
      text-align: center;
      margin: 150px;
      font-size: 1.1em;
  }

  .foto {
      width: 70%;
      text-align: center;
      margin: 0 auto;
      margin-top: 5px;
  }

  img {
      width: 100%;
  }

  /*секундомер*/
  #sekundomer {
      font-family: 'Alumni Sans Pinstripe', sans-serif;
      font-size: 1.5em;
      font-weight: 600;
      border: 2px #FFFFFF solid;
      max-width: 12vw;
      min-width: 180px;
      height: 110px;
      margin: 0 auto;
  }

  .ekran {
      border: 2px #FFFFFF solid;
      width: 70%;
      height: 60%;
      margin: 0 auto;
      margin-top: 10px;
  }

  .time {
      font-size: 1.7em;
      width: 90%;
      margin: 10px auto;
      display: flex;
  }

  .knopki {
      display: flex;
      justify-content: space-evenly;
      margin: 5px;
  }

  /*поле с телефоном*/
  #telefon {
      margin-top: 100px;
      text-align: right;
      font-size: 1.2em;  
      position: relative;    
  }

  .pole {
      text-align: center;
      font-family: 'Alumni Sans Pinstripe', sans-serif;
      font-weight: 600;
      margin-left: 10px;
  }

  .knopka {
      font-family: 'Alumni Sans Pinstripe', sans-serif;
      font-weight: 600;
  }

  .modalka {
      position: relative;
      width: 30%;      
      top: 0vh;
      left: 70%;
  }

  /*слайдер*/

  #slaider {
      width: 50%;
      height: 350px;
      margin: 100px auto;
      border: 2px #FFFFFF double;
      box-shadow: 0 0 10px 10px #FFFFFF;
      overflow: hidden;
  }

  #slaider_ {
      width: 50%;
      max-height: 350px;
      margin: 100px auto;
      border: 2px #FFFFFF double;
      box-shadow: 0 0 10px 10px #FFFFFF;
      overflow: hidden;
  }

  #slaider__ {
      width: 50%;
      max-height: 350px;
      margin: 100px auto;
      border: 2px #FFFFFF double;
      box-shadow: 0 0 10px 10px #FFFFFF;
      overflow: hidden;
  }

  .height {
    height: 500px;
  }

  .kartOne {
      animation: kartOne 3s linear 1;     
      background-image: url("../img/Mercury.jpg");
      background-size: contain;
      background-repeat: no-repeat;
  }

  @keyframes kartOne {

      from {
          transform: scale(0.5);
          transform-origin: 10px 20px;
      }

      20% {
          transform: scale(0.6);
      }

      40% {
          transform: scale(0.7);
      }

      60% {
          transform: scale(0.8);
      }

      80% {
          transform: scale(0.9);
      }

      to {
          transform: scale(1);

      }
  }

  .kartTwo {
      animation: kartTwo 3s linear 1;      
      background-image: url("../img/20180913_zaa_p138_057.jpg");
      background-size: contain;
      background-repeat: no-repeat;
  }

  @keyframes kartTwo {

      from {
          transform: skew(92deg);
      }

      20% {
          transform: skew(75deg);
      }

      40% {
          transform: skew(54deg);
      }

      60% {
          transform: skew(36deg);
      }

      80% {
          transform: skew(18deg);
      }

      to {
          transform: skew(0deg);

      }
  }

  .kartTri {
      animation: kartTri 3s linear 1;      
      background-image: url("../img/4848-4.jpg");
      background-size: contain;
      background-repeat: no-repeat;
  }

  @keyframes kartTri {

      from {
          transform: rotate3d(1, 1, 1, 250deg);
      }

      20% {
          transform: rotate3d(1, 1, 1, 200deg);
      }

      40% {
          transform: rotate3d(1, 1, 1, 150deg);
      }

      60% {
          transform: rotate3d(1, 1, 1, 100deg);
      }

      80% {
          transform: rotate3d(1, 1, 1, 50deg);
      }

      to {
          transform: rotate3d(1, 1, 1, 0deg);

      }
  }

  .kartFor {
      animation: kartFor 3s linear 1;      
      background-image: url("../img/shutterstock_1450308851-640x360.jpg");
      background-size: contain;
      background-repeat: no-repeat;
  }

  @keyframes kartFor {

      from {
          transform: scale(0);
      }

      20% {
          transform: scale(0.2);
      }

      40% {
          transform: scale(0.4);
      }

      60% {
          transform: scale(0.6);
      }

      80% {
          transform: scale(0.8);
      }

      to {
          transform: scale(1);

      }
  }

  .kartFive {
      animation: kartFive 3s linear 1;     
      background-image: url("../img/shutterstock_418733752.jpg");
      background-size: contain;
      background-repeat: no-repeat;
  }

  @keyframes kartFive {

      from {
          transform: translate(-100vw);
      }

      20% {
          transform: translate(-50vw);
      }

      40% {
          transform: translate(0vw);
      }

      60% {
          transform: translate(0vw);
      }

      80% {
          transform: translate(50vw);
      }

      to {
          transform: translate(100vw);

      }
  }