@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');


/*настройка для всей страницы*/
.body {
    margin: 0;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

/*настройка для тела страницы*/
.main {
    margin: 0 auto;
    padding-top: 2%;
}

/*главный контейнер*/
.konteiner {
    background-color: #FFB084;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-height: 70vh;
    max-width: 60%;
    margin: 0 auto;
    border-radius: 20px;
    grid-gap: 20px 40px;
    padding: 3%;
}

/*блок №1*/
.harakter {
    grid-row: 1/7;
    background-color: #FFFFFF;
    font-size: .75em;
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding: 10% 5%;        
    border-radius: 20px;
    box-shadow: 7px 7px 0px #000000;
}

.im {
    font-size: 2em;
    font-weight: 800;    
}

.foto {
    width: 50%;
    margin: 7% auto;
}

.foto_ {
    width: 100%;
}

span {
    font-weight: 500;
}
.dannie{
    padding-top: 7%;
}

.vik {
    display: flex;
    justify-content: space-between;
}

/*блок №2*/
.bio {
    grid-column: 2/4;
    grid-row: 1/3;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5% 10%;
}

.zag {
    font-size: 0.875em;
    margin-bottom: 2%;
}

.text {
    font-size: 0.875em;
    font-weight: 400;
}

/*блок №3*/
.goals {
    grid-row: 3/5;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #29A71E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 20%;
}

ul {
    padding-left: 10%;
    margin: 0;
}

.zagg {
    font-size: 0.875em;
    color: #29A71E;
    margin-bottom: 5%;
}

/*блок №4*/
.frustrations {
    grid-row: 3/6;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #E13535;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 20%;
}

.zagf {
    font-size: 0.875em;
    color: #E13535;
    margin-bottom: 5%;
}

/*блок №5*/
.citata {
    grid-row-start: 7;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #000000;
    padding: 5%;
    text-align: center;
    align-self: end;
}

/*блок №6*/
.dream {
    grid-row: 5/8;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #3675B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 20%;
}

.zagd {
    font-size: 0.875em;
    color: #3675B0;
    margin-bottom: 5%;
}

/*блок №7*/
.personality {
    grid-row: 6/8;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 20%;
}

.textp {
    font-size: 0.875em;
    font-weight: 400;
    list-style: none;
    padding-left: 0;
    margin-top: 3%;
}