body {
    margin: 0 auto;
}

main {
    margin: 0 auto;
}

.konteiner {
    display: flex;
}

.vvod {
    display: block;
    background-color: rgba(210, 105, 30, 0.373);
    height: 100%;
    width: 100%;
    padding: 0;
    resize: none;
}

.value {
    background-color: rgba(128, 128, 128, 0.356);
}

.vvod-form,
.value {
    flex-basis: 50%;
    height: 100vh;
    border: solid 3px black;
    box-sizing: border-box;
}